name: PR

on: pull_request

concurrency:
  group: pr-${{ github.ref }}
  cancel-in-progress: true

permissions:
  packages: read

jobs:
  superlinter:
    name: Lint bash, docker, markdown, and yaml
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.1.1
      - name: Lint codebase
        uses: docker://github/super-linter:v3.8.3
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          VALIDATE_ALL_CODEBASE: true
          VALIDATE_BASH: true
          VALIDATE_DOCKERFILE: true
          VALIDATE_MD: true
          VALIDATE_YAML: true

  verify-changelog:
    name: Verify CHANGELOG is valid
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.1.1
      - name: Verify CHANGELOG
        uses: docker://ghcr.io/ponylang/changelog-tool:release
        with:
          args: changelog-tool verify

  x86_linux:
    name: x86_64 Linux
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/ponylang/shared-docker-ci-standard-builder:nightly
    steps:
      - uses: actions/checkout@v4.1.1
      - name: Test with most recent ponyc nightly
        run: make test

  self-lint:
    name: Lint own source
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/ponylang/shared-docker-ci-standard-builder:nightly
    steps:
      - uses: actions/checkout@v4.1.1
      - name: Lint own source
        run: make lint

  # Currently, GitHub actions supplied by GH like checkout and cache do not work
  # in musl libc environments on arm64. We can work around this by running
  # those actions on the host and then "manually" doing our work that would
  # normally be done "in the musl container" by starting the container ourselves
  # for various steps by invoking docker directly.
  #
  # This is not in line with our standard pattern of "just do it all in the
  # container" but is required to work around the GitHub actions limitation
  # documented above.
  arm64_linux:
    name: arm64 Linux
    runs-on: ubuntu-24.04-arm
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.1
      - name: Pull Docker image
        run: docker pull ghcr.io/ponylang/shared-docker-ci-standard-builder:nightly
      - name: Test with most recent ponyc nightly
        run: |
          docker run --rm \
            -v ${{ github.workspace }}:/root/project \
            -w /root/project \
            ghcr.io/ponylang/shared-docker-ci-standard-builder:nightly \
            make test

  x86_windows:
    name: x86_64 Windows
    runs-on: windows-2025
    steps:
      - uses: actions/checkout@v4.1.1
      - name: Test with most recent ponyc nightly
        run: |
          Invoke-WebRequest https://dl.cloudsmith.io/public/ponylang/nightlies/raw/versions/latest/ponyc-x86-64-pc-windows-msvc.zip -OutFile C:\ponyc.zip;
          Expand-Archive -Path C:\ponyc.zip -DestinationPath C:\ponyc;
          Invoke-WebRequest https://dl.cloudsmith.io/public/ponylang/releases/raw/versions/latest/corral-x86-64-pc-windows-msvc.zip -OutFile C:\corral.zip;
          Expand-Archive -Path C:\corral.zip -DestinationPath C:\corral;
          $env:PATH = 'C:\ponyc\bin;C:\corral\bin;' + $env:PATH;
          .\make.ps1 -Command test 2>&1

  arm64_windows:
    name: arm64 Windows
    runs-on: windows-11-arm
    steps:
      - uses: actions/checkout@v4.1.1
      - name: Test with most recent ponyc nightly
        run: |
          Invoke-WebRequest https://dl.cloudsmith.io/public/ponylang/nightlies/raw/versions/latest/ponyc-arm64-pc-windows-msvc.zip -OutFile C:\ponyc.zip;
          Expand-Archive -Path C:\ponyc.zip -DestinationPath C:\ponyc;
          Invoke-WebRequest https://dl.cloudsmith.io/public/ponylang/releases/raw/versions/latest/corral-arm64-pc-windows-msvc.zip -OutFile C:\corral.zip;
          Expand-Archive -Path C:\corral.zip -DestinationPath C:\corral;
          $env:PATH = 'C:\ponyc\bin;C:\corral\bin;' + $env:PATH;
          .\make.ps1 -Command test 2>&1

  x86_macos:
    name: x86_64 MacOS
    runs-on: macos-15-intel
    steps:
      - uses: actions/checkout@v4.1.1
      - name: install pony tools
        run: bash .ci-scripts/macos-install-pony-tools.bash nightly
      - name: brew install dependencies
        run: brew install coreutils
      - name: Test with most recent ponyc nightly
        run: |
          export PATH="$HOME/.local/share/ponyup/bin/:$PATH"
          make test

  arm64_macos:
    name: arm64 MacOS
    runs-on: macos-15
    steps:
      - uses: actions/checkout@v4.1.1
      - name: install pony tools
        run: bash .ci-scripts/macos-install-pony-tools.bash nightly
      - name: brew install dependencies
        run: brew install coreutils
      - name: Test with most recent ponyc nightly
        run: |
          export PATH="$HOME/.local/share/ponyup/bin/:$PATH"
          make test
